body {
    font-family: helvetica, sans-serif;
}

#main {
    margin: 0 auto;
}

#player {
    display: inline-block;
}

#pause-toggle {
    line-height: 2;
    position: absolute;
    margin-top: .5em;
}

#word-fun-input {
    float: left;
    line-height: 1.5;
    font-size: 2em;
    width: 100%;
}

#word-fun-canvas {
    clear: both;
}