body {
    font-family: helvetica, sans-serif;
}

#main {
    width:50%;
    margin:0 auto;
}
#word-fun-input {
    float: left;
    line-height: 1.5;
    font-size: 2em;
    width: 100%;
}

#word-fun-canvas {
    clear: both;
}