/*
Created By Andy Stabler
*/

body {
    font-family: helvetica, sans-serif;
    font-size: 100%;
}

#main {
    margin: 0 auto;
}

#player {
    display: inline-block;
}

#details {
    position: absolute;
    margin-top: .5em;
    width: 100%;
}

button {
    line-height: 2;
    font-size: 1em;
}

#pause-toggle {
    float: left;
    /*font-size: 1em;*/
    /*//line-height: 2;*/
}

#details p {
    /*line-height: 2;*/
    margin: 0;
}

#details p a {
    padding: .5em;
    line-height: 1.65;
    color: inherit;
    font-weight: 200;
    text-decoration: none;
}

#word-fun-input {
    float: left;
    line-height: 1.5;
    font-size: 2em;
    width: 100%;
}

#word-fun-fire {
    display: none;
}

@media only screen and (max-device-width: 340px) {
    #word-fun-input {
        display: none;
    }

    #word-fun-fire {
        display: block;
        float: left;
    }

    #details p a {
        line-height: 2.3;
    }
}

#word-fun-canvas {
    clear: both;
}

@media only screen and (max-device-width: 400px) {
    html {
        font-size: 150%;
        font-weight: normal;
    }
}